server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: git@github.com:nhhcl/social-network-config.git
          search-paths: local
          clone-on-start: true